:root {
  /* Fonts */
  --letter-font: "Montez", cursive;
  --main-font: "Poppins", sans-serif;

  /* Colors  */
  --red: #c00000;
  --deep-carmine-pink: #ff3334;
  --brink-pink: #ff6f77;
  --light-pink: #ffbbc1;
  --mainly-red: #ffdee3;
  --semi-pink: #ff8896;
  --white-smoke: #f3f3f3;

  /* Utilities */
  --small-box-shadow: 1px -1px 7px 0 var(--brink-pink);
  --border: 1px solid var(--light-pink);
}

.current {
  border-bottom: 2px solid var(--deep-carmine-pink) !important;
  padding-bottom: 2px !important;
}

a {
  text-decoration: none !important;
  transition: color ease-in-out 0.3s !important;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: var(--deep-carmine-pink);
  transition: color ease-in-out 0.3s;
}

i {
  color: var(--mainly-red);
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover,
.active i {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: var(--deep-carmine-pink);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  border-top: var(--border);
}

#generateButton {
  margin-top: 15px !important;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  margin-top: 30px !important;
  font-family:var(--letter-font);
  color: var(--deep-carmine-pink) !important;
}

body {
  position: relative;
}

@keyframes hearts {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.test {
  height: 100vh;
  width: 100vh;
  position: fixed;
  margin: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  animation-name: hearts;
  animation-duration: 3s;
  background-color: transparent;
  display: block;
}

.hidden {
  display: none;
}

#loveLetterOutput {
  margin: 30px 15px;
  font-family: var(--letter-font);
  font-weight: 600;
  color: var(--deep-carmine-pink);
}

/* Navbar section */
nav.navbar.navbar-expand-lg.bg-body-tertiary {
  background: var(--semi-pink) !important;
  border: var(--border);
  box-shadow: var(--small-box-shadow);
}

.navbar-nav .nav-link.show {
  color: var(--mainly-red) !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show:hover {
  color: var(--deep-carmine-pink) !important;
}

/* .navbar-expand-lg .navbar-collapse {
  font-size: larger;
} */

a.nav-link {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: var(--mainly-red) !important;
}

/* Footer section  */
footer.text-center.text-lg-start.text-white {
  background: var(--semi-pink) !important;
  border-top-color: var(--border);
  box-shadow: var(--small-box-shadow);
}

.btn-outline-light {
  color: var(--mainly-red) !important;
  background: var(--mainly-red) !important;
}

.btn-outline-light i {
  color: var(--semi-pink);
}


/* Generate Letter Button */
#generateButton {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 1em;
  letter-spacing: 0.05em;
  margin-top: 10px;
  color: var(--deep-carmine-pink) !important;
  text-decoration: none;
  box-shadow: var(--small-box-shadow);
  text-transform: uppercase;
  border: 2px solid var(--deep-carmine-pink) !important;
  padding: 10px 20px 0 20px;
  z-index: 1;
  overflow: hidden;
  transition: color 1s, box-shadow 1s;
  transition-delay: 0s, 1s;
}

#generateButton:hover {
  cursor: pointer;
  transition-delay: 0s, 1s;
  color: var(--semi-pink);
  box-shadow: 0 0 10px var(--red), 0 0 20px var(--red), 0 0 40px var(--red),
    0 0 80px var(--red), 0 0 160px var(--red);
}

#generateButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  background-color: var(--red) !important;
  transform: skewX(35deg);
  z-index: -1;
  transition: 1s;
}

#generateButton:hover:before {
  width: 100%;
}



@media (min-width: 768px) {
    .title {
        display: flex ;
        justify-content: center;
        align-items: center;
    }
    #loveLetterForm,
    #loveLetterOutput {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #loveLetterOutput {
        margin: 0 auto;
        padding: 30px 10px;
    }

  .col-md-6 {
    width: 60% !important;
  }
}

@media (min-width: 576px) {
    #generateButton {
        font-size: 1.5em;
        letter-spacing: 0.1em !important;
        margin-top: 20px !important;
        padding: 10px 30px !important;
      }
    .title {
        font-size: 3rem !important;
        font-weight: 600 !important;
    }
}


/* Custom Button Styles */
.icon-button {
    background-image: url('../icons/copy.png'); /* Replace with the actual path to your image */
    background-size: cover; /* Cover the entire button area */
    background-repeat: no-repeat;
    background-position: center;
    border: none; /* Remove default border */
    color: white; /* Set text color */
    padding: 20px; /* Add padding to increase the clickable area */
    cursor: pointer; /* Change mouse pointer on hover */
    /* Adjust width and height as necessary to fit your specific icon dimensions */
    width: 100px; /* Example width */
    height: 100px; /* Example height */
    border-radius: 50%; /* Round the corners to match the icon shape */
    text-align: center; /* Center the text */
    line-height: 100px; /* Align text vertically, should match button height */
    overflow: hidden; /* Hide overflow */
    transition: transform 0.3s; /* Smooth transition for hover effects */
}

.icon-button:hover {
    transform: scale(1.1); /* Slightly increase button size on hover */
}