:root {
  /* Fonts */
  --letter-font: "Montez", cursive;
  --main-font: "Poppins", sans-serif;

  /* Colors  */
  --red: #c00000;
  --deep-carmine-pink: #ff3334;
  --brink-pink: #ff6f77;
  --light-pink: #ffbbc1;
  --mainly-red: #ffdee3;
  --semi-pink: #ff8896;
  --white-smoke: #f3f3f3;
  --dark-color: #333;
  --black-color: black;
  --accent-color-dark: #d0d066;
  --accent-color-light: orangered;

  /* Utilities */
  --small-box-shadow: 1px -1px 7px 0 var(--brink-pink);
  --border: 1px solid var(--light-pink);

  --transition-delay: 1s;
}

.current {
  border-bottom: 2px solid var(--deep-carmine-pink) !important;
  padding-bottom: 2px !important;
}

a {
  text-decoration: none !important;
  transition: color ease-in-out 0.3s !important;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: var(--deep-carmine-pink);
  transition: color ease-in-out 0.3s;
}

i {
  color: var(--mainly-red);
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover,
.active i {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: var(--deep-carmine-pink);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  /* Theme Toggle CSS for body  */

  transition: var(--transition-delay) !important;
  background-color: var(--white-smoke) !important;
  color: var(--black-color) !important;
  .theme-toggle-btn .icon {
    fill: var(--accent-color-light) !important;
  }
}

footer {
  margin-top: auto;
  border-top: var(--border);
}

#generateButton {
  margin-top: 15px !important;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px !important;
  font-family: var(--letter-font);
  color: var(--deep-carmine-pink) !important;
}

body {
  position: relative;
}

@keyframes hearts {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.test {
  height: 100vh;
  width: 100vh;
  position: fixed;
  margin: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  animation-name: hearts;
  animation-duration: 3s;
  background-color: transparent;
  display: block;
}

.hidden {
  display: none;
}

#loveLetterOutput {
  font-family: var(--letter-font);
  font-weight: 600;
  color: var(--deep-carmine-pink);
}

/* Navbar section */
nav.navbar.navbar-expand-lg.bg-body-tertiary {
  background: var(--semi-pink) !important;
  border: var(--border);
  box-shadow: var(--small-box-shadow);
}

.navbar-nav .nav-link.show {
  color: var(--mainly-red) !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show:hover {
  color: var(--deep-carmine-pink) !important;
}

/* .navbar-expand-lg .navbar-collapse {
  font-size: larger;
} */

a.nav-link {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: var(--mainly-red) !important;
}

/* Footer section  */
footer.text-center.text-lg-start.text-white {
  background: var(--semi-pink) !important;
  border-top-color: var(--border);
  box-shadow: var(--small-box-shadow);
}

.btn-outline-light {
  color: var(--mainly-red) !important;
  background: var(--mainly-red) !important;
}

.btn-outline-light i {
  color: var(--semi-pink);
}

/* Generate Letter Button */
#generateButton {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 1em;
  letter-spacing: 0.05em;
  margin-top: 10px;
  color: var(--deep-carmine-pink) !important;
  text-decoration: none;
  box-shadow: var(--small-box-shadow);
  text-transform: uppercase;
  border: 2px solid var(--deep-carmine-pink) !important;
  padding: 10px 20px 0 20px;
  z-index: 1;
  overflow: hidden;
  transition: color 1s, box-shadow 1s;
  transition-delay: 0s, 1s;
}

#generateButton:hover {
  cursor: pointer;
  transition-delay: 0s, 1s;
  color: var(--semi-pink);
  box-shadow: 0 0 10px var(--red), 0 0 20px var(--red), 0 0 40px var(--red),
    0 0 80px var(--red), 0 0 160px var(--red);
}

#generateButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  background-color: var(--red) !important;
  transform: skewX(35deg);
  z-index: -1;
  transition: 1s;
}

#generateButton:hover:before {
  width: 100%;
}

@media (min-width: 768px) {
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #loveLetterForm,
  #loveLetterOutput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #loveLetterOutput {
    padding: 30px 10px;
  }

  .col-md-6 {
    width: 60% !important;
  }
}

@media (min-width: 576px) {
  #generateButton {
    font-size: 1.5em;
    letter-spacing: 0.1em !important;
    margin-top: 20px !important;
    padding: 10px 30px !important;
  }
  .title {
    font-size: 3rem !important;
    font-weight: 600 !important;
  }
}

/* Custom Button Styles */
.icon-button {
  background: url("../icons/copy.png") no-repeat center center;
  background-size: contain;
  border: none;
  width: 50px; /* Set the width as needed */
  height: 50px; /* Set the height as needed */
  cursor: pointer;
  text-indent: -9999px; /* Hide the text */
}

.icon-button:hover {
  transform: scale(1.1); /* Slightly increase button size on hover */
}

/* Styles for the love letter box */
.love-letter-box {
  border: 1px solid #ddd; /* Adds a light border */
  padding: 20px; /* Adds some padding inside the box */
  margin-top: 20px; /* Adds space between the form and the box */
  border-radius: 10px; /* Rounds the corners */
  background-color: #fefefe; /* Light background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  min-height: 100px; /* Minimum height */
  width: auto; /* Adjust width as needed, or use max-width */
  word-wrap: break-word; /* Ensures the content wraps nicely */
}

#whatsapp-button {
  background: url("../icons/whatsapp.png") no-repeat center center;
  background-size: contain;
  border: none;
  width: 50px; /* Set the width as needed */
  height: 50px; /* Set the height as needed */
  cursor: pointer;
  text-indent: -9999px; /* Hide the text */
}

/* Theme toggler */

.theme-toggle-btn {
  background-color: var(--accent-color);
  color: var(--white-smoke);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  border: none;
  outline: none;
  transition: var(--transition-delay);
  transform: scale(1);
}

.theme-toggle-btn .icon {
  margin-right: 0.5em;
  fill: var(--accent-color-dark);
}

.theme-toggle-btn .icon .dark {
  color: var(--accent-color-dark) !important;
}

/* .theme-toggle-btn:hover {
    color: var(--deep-carmine-pink);
  } */

body.dark {
  background-color: var(--dark-color) !important;
  color: var(--white-smoke) !important;
  .theme-toggle-btn .icon {
    fill: var(--accent-color-dark) !important;
  }
}
